{% extends "base_BE.html" %} 
{% block content %}
<div class="row text-center mt-5">
  <div class="col-lg-6 offset-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Are you sure?</h4>
        <p class="card-title-desc">
          will you want to delete <b>{{ object }}</b>?
        </p>
      </div>
      <!-- end card header -->
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div style="padding-bottom: 15px" class="box-body">
            <button class="btn btn-danger btn-sm" type="submit">Yes</button>
            <button
              type="button"
              onclick="history.back();"
              class="btn btn-warning btn-sm text-light"
            >
              No
            </button>
          </div>
        </form>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
{% endblock %}