{% load static %}

<!-- Category News Slider Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-3">
                {% if business %}
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Business</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {% for obj in business %}
                            <div class="position-relative">
                                {% if obj.image %}
                                    <img class="img-fluid w-100" src="{{ obj.image.url }}"
                                         style="object-fit: cover;">
                                {% else %}
                                    <p>No image found!</p>
                                {% endif %}
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 13px;">
                                        <a href="">{{ obj.category }}</a>
                                        <br>
                                        <span>{{ obj.created_at }}</span>
                                    </div>
                                    <a class="h4 m-0" href="{% url 'post_details' obj.pk %}">{{ obj.title|slice:":22" }}....</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-6 py-3">
                {% if technology %}
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Technology</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {% for obj in technology %}
                            <div class="position-relative">
                                {% if obj.image %}
                                    <img class="img-fluid w-100" src="{{ obj.image.url }}"
                                         style="object-fit: cover;">
                                {% else %}
                                    <p>No Image found!</p>
                                {% endif %}
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 13px;">
                                        <a href="">{{ obj.category }}</a>
                                        <br>
                                        <span>{{ obj.created_at }}</span>
                                    </div>
                                    <a class="h4 m-0" href="{% url 'post_details' obj.pk %}">{{ obj.title|slice:":22" }}....</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Category News Slider End -->

<!-- Category News Slider Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-3">
                {% if entertainment %}
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Entertainment</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {% for obj in entertainment %}
                            <div class="position-relative">
                                {% if obj.image %}
                                    <img class="img-fluid w-100" src="{{ obj.image.url }}"
                                         style="object-fit: cover;">
                                {% else %}
                                    <p>No Image found!</p>
                                {% endif %}
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 13px;">
                                        <a href="">{{ obj.category }}</a>
                                        <br>
                                        <span>{{ obj.created_at }}</span>
                                    </div>
                                    <a class="h4 m-0" href="{% url 'post_details' obj.pk %}">{{ obj.title|slice:":22" }}....</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-6 py-3">
                {% if sports %}
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Sports</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {% for obj in sports %}
                            <div class="position-relative">
                                {% if obj.image %}
                                    <img class="img-fluid w-100" src="{{ obj.image.url }}"
                                         style="object-fit: cover;">
                                {% else %}
                                    <p>No Image found!</p>
                                {% endif %}
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 13px;">
                                        <a href="">{{ obj.category }}</a>
                                        <br>
                                        <span>{{ obj.created_at }}</span>
                                    </div>
                                    <a class="h4 m-0" href="{% url 'post_details' obj.pk %}">{{ obj.title|slice:":22" }}...</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>