{% extends 'base_BE.html' %}

{% block title %}
  Create new post
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-4">Create New post</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"># Create new post</li>
      </ol>
    </div>
    <div class="col-md-12 m-2">
      {% include 'common/success_message.html' %}
      <form method="post" enctype="multipart/form-data">
        {% if form.errors %}
          <p>{{ form.errors }}</p>
        {% endif %}
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-2">
              <label for="title" class="mb-2">Enter post title</label>
              {{ form.title }}

              <label for="category" class="mt-3 mb-2">Select post category</label>
              {{ form.category }}

              <label for="image" class="mt-3 mb-2">Upload image for post</label>
              {{ form.image }}
            </div>
          </div>
          <div class="col-md-6" class="mb-2">
            <label for="description" class="mb-2">Write your post</label>
            {{ form.description }}
          </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="d-flex" style="justify-content: start; align-items: center;">
          {{ form.is_published }}
          <label for="is_published" class="mt-3 mb-2 px-2">Click here for Approve</label>
        </div>
      {% endif %}
        <button class="btn btn-success mt-3" type="submit">
          {% if post.id %}
            update
          {% else %}
            create
          {% endif %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
